@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #37474F;
	font-family: 'Roboto', sans-serif;
}
#name{
	font-size: 4em;
	color: black;
}

#mypic {
	height: 350px;
	width: 350px;

}

ul { 
	display:table; margin:0 auto;
}